{% extends "pMentHa/base.html" %}
{% load static %}
{% block body %}
    <div class="grid-container">
        <nav style="overflow:auto">
            <div class="topmenu">
                <a href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-head-side-virus"></i> Projeto MentHa</button>
                    <div class="dropdown-content">
                        {% if user.is_authenticated %}
                            <a href="{% url 'patientoverview' %}">ProtocoloMentHa</a>
                        {% else %}
                            <a href="{% url 'login_' %}">ProtocoloMentHa</a>
                        {% endif %}
                        <a href="{% url 'mentha-care' %}"> MentHaCare</a>
                        <a href="{% url 'velhotes' %}">Pesquisa de Pacientes</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                   <a href="{% url 'contactList' %}"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
                {% else %}
                    <a href="{% url 'contact' %}"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
                {% endif %}
                <a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> About</a>
                <a href="{% url 'comments' %}"><i class="fas fa-comments"></i> Comentários</a>
                <div class="top-right">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="dropbtn">Bem vindo {{ user.username }}!</button>
                            <div class="dropdown-content2">
                                <a href="{% url 'logout_' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'login_' %}"><i class="fas fa-fingerprint"></i> Login</a>
                    {% endif %}
                </div>
            </div>
            <figure>
                <img class="img" src="{% static "pMentHa/images/mentha.png" %}" width="80%" alt="velhotes"/>
            </figure>
            <hr class="line">
            {% if message %}
                <div style="text-align: center;">
            <span>
                {{ message }}
            </span>
                </div>
            {% endif %}
        </nav>
        <main>
            <div style="overflow-x:auto;">
                <h2 class="h2_po">Contacto de Pacientes</h2>
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Data Nascimento</th>
                        <th>Contacto</th>
                        <th>Apagar</th>
                    </tr>
                    {% for atribute in contact %}
                        <tr>
                            <td>{{ atribute.name }}</td>
                            <td>{{ atribute.email }}</td>
                            <td>{{ atribute.birth }}</td>
                            <td>{{ atribute.contact }}</td>
                            <td><a href="{% url 'apaga-view' atribute.id %}"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </div>
{% endblock %}